footer{
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 16px;
    padding: 70px 50px;
    font-family: 'Segoe UI', sans-serif;
}

footer .about{
    width: 300px;
    min-width: 300px;
}
footer .about .logo{
    display: flex;
}
.abt_info{
    font-size: 14px;
    padding: 20px 0;
}
.logo img{
    width: 100px;
    margin: 0 10px 0 0 ;

    /* background-color: red; */
}

footer .footer_ttls{
    text-transform: uppercase;
    font-weight: 600;

}
footer .footer_ttl{
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 0;
        font-size: 17px;


}


footer #find_us{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

footer .openHours{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 7px 0;
}



footer .recentPosts{
    width: 300px;
    /* background-color: red; */
    padding: 0 10px;
}
footer .post{
    border: 1px solid black;
    display: flex;
    margin: 0 0 10px 0;
}

.post:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.post_img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    background-color: green;
}
.post_ttl {
  font-size: 13px;
  overflow-wrap: break-word;
  padding: 10px 0;
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
  }

  footer .about,
  footer .recentPosts {
    width: 100%;
    min-width: auto;
  }
}